@font-face {
    font-family: '';
    src: url('https://raw.githubusercontent.com/gauravshharma/Custom-font-Open-Sauce/blob/master/font/OpenSauceSans-Black.ttf') format('truetype'),
         url('https://raw.githubusercontent.com/gauravshharma/Custom-font-Open-Sauce/blob/master/font/OpenSauceSans-Bold.ttf') format('truetype'),
         url('https://raw.githubusercontent.com/gauravshharma/Custom-font-Open-Sauce/blob/master/font/OpenSauceSans-Regular.ttf') format('truetype'),
         url('https://raw.githubusercontent.com/gauravshharma/Custom-font-Open-Sauce/blob/master/font/OpenSauceSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}